html,
body {
  background: #F3F7FC;
}

#map-canvas {
  width: 100vw;
  height: 85vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.flex-container {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-content: flex-start;
}

.header {
  flex: 0 0 40px;
  height: 40px;
  background-color: #ffffff;
}

#slider .noUi-active .noUi-tooltip {
  order: 2;
  flex: 0 0 40px;
  display: block;
  padding-top: 10%;
}

#bound-info {
  order: 3;
  padding-top: 20px;
  flex-basis: 70%;
  padding-left: 40%;
  display: flex;
  align-content: center;
  flex-direction: row;
}

#bound-info-label {
  color: blue;
  align-content: center;
  padding: 20px;
}

#bound-info-image {
  color: blue;
  padding: 20px;
}

#activity-form {
  visibility: hidden;
}
