html,
body {
  background: #F3F7FC;
}

#map-activity-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  height: 85vh;
}

#map-canvas {
  width: 70vw;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

#activity-list-view {
  width: 40vw;
  background-color: purple;
}

ul {
  padding: 40px;
  background: #F3F7FC;
  list-style-position: inside;
  list-style-type: none;
}

li {
  padding: 20px;
  background: #c4c4c4;
  border-width: 2px;
  border: #4CAF50;
  border-left: 2px;
  overflow: hidden;
}

.header-flex-container {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-content: flex-start;
}

.header {
  flex: 0 0 40px;
  height: 40px;
  background-color: #ffffff;
}

#slider .noUi-active .noUi-tooltip {
  order: 2;
  flex: 0 0 40px;
  display: block;
  padding-top: 10%;
  color: orangered;
}

#bound-info {
  order: 3;
  padding-top: 20px;
  flex-basis: 70%;
  padding-left: 40%;
  display: flex;
  align-content: center;
  flex-direction: row;
}

#bound-info-label {
  color: blue;
  align-content: center;
  padding: 20px;
}

#bound-info-image {
  color: blue;
  padding: 20px;
}

#add-activity-button {
  height: 30px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  align-self: center;
}

#activity-form {
  display: none;
}

.form-control {
  display: block;
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #172432;
}
