html,

#map-canvas {
  width: 100%;
  height: 70vh;
  color: black;
}

body {
  font-family: "proxima-nova", sans-serif;
  display: flex;
  height: 100vh;
  background: #000;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-image: linear-gradient(
    0deg,
    rgb(61, 60, 60),
    rgb(57, 52, 124),
    rgb(1, 85, 50)
  );
}


/* #hour-label {
  border: 0.05em solid black;
} */

svg {
    width: 80vw;
    height: 25vh;
    max-width: 1200px;
    margin-top: 1rem;
  }

svg text {
    fill: white;
    font-size: 20px;
    user-select: none;
  }
  
  svg line {
    stroke-width: 1.5;
    stroke: white;
  }
  
  h2 {
    font-weight: 400;
  }
  h2 span {
    font-weight: 700;
    color: #5cceee;
  }

  
  h1, h2,
  p {
    margin: 0;
  }
  
  a {
    background: #5cceee;
    color: white;
    text-decoration: none;
    border-radius: 3px;
  }
  
  a:hover {
    background: white;
      color: #5cceee;
  }